.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container);
    max-width: calc(100% - 6rem);
    margin: 0 auto 2rem;
}

@media screen and (max-width: 1023px) {
    .top {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (max-width: 768px) {
    .top {
        flex-wrap: wrap;
    }
}

.top h1 {
    margin: 0;
    color: var(--gray82);
}

.productCount {
    display: flex;
    align-items: center;
    color: var(--blue);
}

@media screen and (max-width: 1023px) {
    .productCount {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}

.productCount span {
    display: block;
    margin-right: 1.6rem;
}

.productCount button {
    position: relative;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
}

.productCount button::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: currentColor;
    content: '';
}

.productCount button:hover::after,
.productCount button._active::after {
    opacity: 1;
}
