.specificationsWrap {
    margin-top: 7.7rem;
    padding-bottom: 9.1rem;
    background-color: var(--grayF4);
}

@media screen and (min-width: 1024px) {
    .specificationsWrap._bigChoose {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1023px) {
    .specificationsWrap {
        margin-top: 3rem;
    }
}

.specifications {
    width: var(--container);
    max-width: calc(100% - 6rem);
    margin: auto;
    font-weight: 500;
    color: var(--blue3B);
}

@media screen and (max-width: 1023px) {
    .specifications {
        max-width: calc(100% - 4rem);
    }
}

.rowSp {
    display: grid;
    grid-gap: 3rem;
    padding: 3.3rem 0 3.5rem;
    border-top: 1px solid var(--grayCD);
}

.rowSp:last-child {
    border-bottom: 1px solid var(--grayCD);
}
@media screen and (max-width: 768px) {
    .rowSp {
        padding: 2.6rem 0 2rem;
    }
}


@media screen and (min-width: 1024px) {
    .specificationsWrap._bigChoose .rowSp {
        position: relative;
        padding-top: 4rem;
    }

    .specificationsWrap._bigChoose .rowSp .titleRow {
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1023px) {
    .specificationsWrap .rowSp {
        position: relative;
        padding-top: 4rem;
    }

    .specificationsWrap .rowSp .titleRow {
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 1.4rem;
    }
}

.titleRow {
    font-weight: 500;
    color: var(--grayA4);
    text-transform: uppercase;
}

.available,
.nAvailable {
    position: relative;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
}

.available {
    background-color: var(--green);
}

.available::before {
    display: block;
    width: 1.1rem;
    height: 0.6rem;
    border-bottom: 0.3rem solid white;
    border-left: 0.3rem solid white;
    transform: rotate(-45deg) translate(0, 0.6rem);
    content: '';

}

.nAvailable {
    background-color: var(--red);
}

.nAvailable::before,
.nAvailable::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1.6rem;
    height: 0.3rem;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
    content: '';
}

.nAvailable::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.noDifferences {
    padding-top: 3rem;
}
