.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.wrapMobile {
    margin-right: 4.8rem;
}

@media screen and (max-width: 767px) {
    .wrapMobile {
        position: absolute;
        top: 6.2rem;
        left: 0;
        z-index: 9;
        width: 100%;
        border-right: 0.1rem solid var(--gray);
        height: calc(100vh - 6.2rem);
        padding: 2rem;
        background-color: white;
        transform: translateX(-100%);
        transition: 0.3s transform 0.5s ease;
    }

    .wrapMobile._open {
        transform: translateX(0);
        transition: transform 0.5s ease;
    }
}

.menu {
    text-transform: uppercase;
    display: flex;
}

@media screen and (max-width: 767px) {
    .menu {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .wrapMobile._open .menu {
        opacity: 1;
        transition: 0.3s opacity 0.5s ease;
    }
}

.lk {
    display: flex;
    align-items: center;
}

.lk svg {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 1.9rem;
}

.btnMenu {
    position: absolute;
    top: calc(100vh - 8rem);
    right: 2rem;
    z-index: 11;
    display: none;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--blue);
}

@media screen and (max-width: 767px) {
    .btnMenu {
        display: block;
    }
}

.btnMenu span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 3rem;
    height: 0.2rem;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btnMenu span:nth-child(1) {
    transform: translate(-50%, calc(-50% - 0.6rem));
}

.btnMenu span:nth-child(3) {
    transform: translate(-50%, calc(-50% + 0.6rem));
}

.btnMenu._open span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btnMenu._open span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
}

.btnMenu._open span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
}
