.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 42.1rem;
    padding: 3.4rem 4.4rem 2.5rem 1.8rem;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 1.6rem 3.2rem rgba(35, 39, 51, 0.1);
    background-color: white;
}

@media screen and (max-width: 1023px) {
    .dropdown {
        width: 30rem;
        padding: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .dropdown {
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0px 3.2rem 9.5rem rgb(35 39 51 / 44%);
    }
}

.dropdown._right {
    right: 0;
    left: auto;
}

.dropdown._center {
    right: auto;
    left: auto;
    margin: auto;
}

.field {
    display: block;
    width: 100%;
}

.field input {
    width: 100%;
    height: 4.7rem;
    padding: 1rem 1.6rem;
    margin-bottom: 1.8rem;
    border: 0.1rem solid var(--grayC1);
    border-radius: 0.4rem;
    font-size: 2.4rem;
    font-weight: 400;
}

.field input:focus {
    border-color: var(--blue);
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
}

.item:last-child {
    margin-bottom: 0;
}

.item p {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .item {
        margin-bottom: 2rem;
    }

    .item p {
        font-size: 1.4rem;
    }
}

.wrapImg {
    position: relative;
    width: 4rem;
    height: 5rem;
    margin: 0 1rem;
}

.wrapImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btnChoose {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: transparent;
}

.btnChoose svg {
    width: 2rem;
    height: 2rem;
}

.scrollWrap {
    max-height: 22rem;
}
