.wrapProduct {
    position: relative;
}

.btnArrow {
    display: none;
}

@media screen and (max-width: 1023px) {
    .btnArrow {
        position: absolute;
        top: 4rem;
        left: 1rem;
        z-index: 5;
        display: block;
        width: 4rem;
        height: 4rem;
        background-color: white;
        border: 1px solid var(--grayC1);
        border-radius: 50%;
        box-shadow: 0px 16px 32px rgba(35, 39, 51, 0.1);
    }

    .btnArrow::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 1rem;
        height: 1rem;
        border-bottom: 0.2rem solid var(--blue);
        border-left: 0.2rem solid var(--blue);
        transform: translate(-25%, -50%) rotate(45deg);
        content: '';
    }

    .btnArrow._next {
        right: 1rem;
        left: auto;
        transform: rotate(-180deg);
    }
}

@media screen and (max-width: 768px) {
    .btnArrow {
        top: 0;
    }
}
