.header {
    background-color: white;
    border-bottom: 0.1rem solid var(--gray);
}

@media screen and (max-width: 767px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: var(--container);
    max-width: calc(100% - 6rem);
    margin: auto;
    padding: 4.2rem 0 4.1rem;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: calc(100% - 4rem);
        padding: 2rem 0;
    }
}

.title {
    color: var(--blue);
}
