.previewProduct {
    display: grid;
    align-items: flex-start;
    grid-gap: 3rem;
    width: var(--container);
    max-width: calc(100% - 6rem);
    margin: auto;
}

@media screen and (min-width: 1024px) {
    .previewProduct._bigChoose {
        position: relative;
        padding-bottom: 5rem;
    }

    .previewProduct._bigChoose .fieldDif {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 1023px) {
    .previewProduct {
        position: relative;
        max-width: calc(100% - 4rem);
        padding-bottom: 6rem;
    }

    .previewProduct .fieldDif {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.fieldDif {
    margin-top: auto;
    margin-bottom: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.checkbox p {
    margin: 0;
    color: var(--blue);
    font-weight: 400;
}

.checkbox span {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.4rem;
    border: 0.2rem solid var(--grayC1);
    border-radius: 0.4rem;
    transition: background 0.3s ease;
}

.checkbox input:checked + span {
    background-color: var(--blue);
}

.checkbox input:checked + span::before {
    display: block;
    width: 1.1rem;
    height: 0.6rem;
    border-bottom: 0.3rem solid white;
    border-left: 0.3rem solid white;
    transform: rotate(-45deg) translate(0, 0.5rem);
    content: '';
}
