@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --gray: #A6A5A9;
  --gray82: #828286;
  --blue: #0D5ADC;
  --blue3B: #3B4157;
  --grayF4: #f4f9fc;
  --grayA4: #A4A9B9;
  --grayCD: #CDCFD2;
  --grayC1: #C1C1C2;
  --green: #36935B;
  --red: #EF4058;
  --container: 111rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #fff;
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
  html {
    font-size: calc(8px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 1.6rem;
  }
}

h1 {
  font-size: 4.8rem;
  line-height: 6rem;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

button,
label {
  cursor: pointer;
}

.container {
  width: 1110px;
  max-width: calc(100% - 6rem);
  margin: auto;
}

input {
  outline: none;
}


*::-webkit-input-placeholder {
  color: var(--grayC1);
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: var(--grayC1);
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: var(--grayC1);
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--grayC1);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grayC1);
}
*::placeholder {
  /* modern browser */
  color: var(--grayC1);
}
