.previewWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.top {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 0.8rem;
    padding-left: 1.8rem;
}

@media screen and (max-width: 768px) {
    .top {
        position: initial;
    }
}

.img {
    position: relative;
    width: 8rem;
    max-width: calc(100% - 2.6rem);
    height: 12rem;
}

.img img {
    max-width: 100%;
    height: 12rem;
    object-fit: contain;
}

.wrapDropdown {
    position: relative;
    margin-left: 0.6rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .wrapDropdown {
        position: initial;
    }
}

.btnArrow {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
}

.btnArrow::before {
    position: absolute;
    top: 0;
    left: calc(50% - 0.6rem);
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-right: 0.2rem solid var(--blue);
    border-bottom: 0.2rem solid var(--blue);
    transform: rotate(45deg);
    content: '';
}

.name {
    margin: 0;
    font-weight: 500;
    color: var(--blue3B);
    text-align: left;
}
