.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.28);
}

.loaderWrap {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loaderWrap div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loaderWrap div:nth-child(1) {
    left: 8px;
    animation: loaderWrap1 0.6s infinite;
}
.loaderWrap div:nth-child(2) {
    left: 8px;
    animation: loaderWrap2 0.6s infinite;
}
.loaderWrap div:nth-child(3) {
    left: 32px;
    animation: loaderWrap2 0.6s infinite;
}
.loaderWrap div:nth-child(4) {
    left: 56px;
    animation: loaderWrap3 0.6s infinite;
}
@keyframes loaderWrap1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loaderWrap3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loaderWrap2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
